/* default styles for all devices */

body {
  background-image: url(img/background.avif);
  font-family: 'Sigmar', cursive;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  color: #eee;
  font-family: 'Sigmar', cursive;
}
.container > h1 {
  background-color: #000;
  color: #f0db4f;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 3.5rem;
  gap: 75px;
  margin-top: 5rem;
}

.buttons {
  background-color: #000;;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  width: 50vw;
  margin-left: 30rem;
}



.buttons > img {
  width: 220px;
  height: auto;
  font-weight: 600;
  border-radius: 10px ;
  border-color: #eee;
  cursor: pointer;
  padding: 19px;
  transition: background-color 0.3s ease;
  transition: transform 0.5s;
}

.buttons > img:hover {
  box-shadow:  5px 5px 26px #eeeeee80;
  background-color:#323330;
  transform: scale(1.16);
  
}


.result {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: white;
  font-size: 25px;
  flex-direction: column;
}

.status, .computer, .result {
  font-family: 'Sigmar', cursive;
}

/* styles for win class */
.win {
  background-color: green;
  color: white;
}

/* styles for lose class */
.lose {
  background-color: red;
  color: white;
}

.tie {
  background-color: rgb(228, 221, 0);
  color: white;
}

/* media queries for different screen sizes */

/* for screens smaller than 576px (extra small devices) */
@media (max-width: 575.98px) {
  .container {
    margin-top: 3rem;
  }

  .buttons {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons > img {
    width: 150px;
    padding: 10px;
  }

  .result {
    font-size: 18px;
    gap: 2rem;
  }
}

/* for screens between 576px and 767.98px (small devices) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    margin-top: 3rem;
  }

  .buttons {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons > img {
    width: 150px;
    padding: 10px;
  }

  .result {
    font-size: 20px;
    gap: 2rem;
  }
}
  .counter{
  display: flex;
  align-items: center;
  justify-self: center;
  font-size: 26px;
  padding-top:50px;
  gap: 50px;
}
.counter > :nth-child(1){
color: rgb(98, 233, 57);
}
.counter > :nth-child(2){
color: rgb(233, 57, 57);
}